.profileMainSection {
  position: relative;
  padding: 20px;
}

.pageTitle {
  margin: 30px 0 0 30px;
  font-size: 3em;
}

form {
  background-color: brown;
  padding: 20px;
}

form label {
  margin-right: 15px;
  /*display:block;*/
    width:150px;
    /*float:left;*/
    margin-bottom:10px;
}

form input {
  margin-right: 15px;
  /*display:block;*/
    width:150px;
    /*float:left;*/
    margin-bottom:10px;
}

.profileSubmitButton {
  width: 50%;
  background-color: #9e16ff;
  color: white;
  padding: 14px 20px 14px 15px;
  margin: 20px 25px 8px 0;
  border: none;
  border-radius: 4px;
  float: left;
  font-size: 1.2em;
}

/*.profileTable {
  margin: 60px auto;
  background-color: pink;
  border: 1px solid black;
    table-layout: fixed;
    width: 90%;
    max-width: 800px;
}*/

/*table tr td, th  {
  text-align: right;
}*/